$font-family-sans-serif: "Tinos", serif;
$white: #ffffff;
$blue: #8699d1;
$purple: #c6acc9;
$cyan: #bfffe6;
$green: #a7e4ae;
$teal: #47d1d5;
$yellow: #fdf3b8;
$orange: #fdd6b5;
$red: #ecb4bf;
$pink: #ffe0f1;
$indigo: #e8d2ff;
$secondary: $cyan;
$primary: $purple;
$body-bg: $pink;
$jumbotron-bg: $white;
$table-bg: $white;
$info: $teal;
$code-color: $green;
